* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 30px 25px;
  background-color: #21222A;
}

nav > h3, nav > h4 {
  margin: 0;
  
}

nav > h3 {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
}

nav > h4 {
  color: #DEEBF8;
  font-weight: 600;
}

nav > img {
  height: 50px;
  margin-right: 17px;
}

main {
  padding: 37px 27px;
  background-image: url(/public/react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right 75%;
}

.main--facts {
  margin-top: 46px;
  max-width: 400px;
}

.main--facts > li {
  line-height: 19px;
  padding-block: 5px;
}

.main--facts > li::marker {
  font-size: 1.4rem;
  color: #61DAFB;
}